.main-container {
  text-align: center;
  margin: 20px;
  padding: 10px;
}

.login-container {
  width: 50%;
  height: 300px;
  margin: 0 auto;
  margin-top: 100px;
  padding-top: 50px;
  border: 1px solid #444;
  background-color: rgb(236, 233, 233);
}

.login-header {
  padding: 20px;
}

.login-label {
  padding: 5px;
  font-size: 20px;
}

#username, #password {
  padding: 5px;
  margin-bottom: 20px;
}

.login-btn {
  padding: 10px 30px;
  background-color: #444;
  color: #fff;
}

.login-btn:hover {
  background-color: rgb(183, 177, 177);
  color: black;
}